<app-title [title]="title"></app-title>

<div class="advertisement_poster">
  <div class="img_wrapper">
    <div>
      <h1>2Start</h1>
      <p>2Start est une plateforme de conférences diffusées en direct et interactives, tournée vers le monde de l'entrepreneuriat. Elle a deux buts principaux:</p>

      <p>Le premier est de permettre à des entrepreneurs locaux de vous partager leur vécu dans la création et la gestion de leurs entreprises dans un format live.</p>

      <p>
        Le second est, pour de futurs entrepreneurs ou pour toute personne curieuse
        d'apprendre comment se lancer dans le monde de l'entrepreuneuriat, de trouver des réponses précises
        en venant écouter ces personnes expérimentées ou en posant directement des questions via le Chat.
      </p>

    </div>
  </div>

  <div class="img_wrapper">
    <div>
      <h1>L'expérience, ça se partage</h1>
      <p>2 amis et une multitude de soirées à discuter de "comment se lancer". Voilà comment nous est venu l'idée de ce projet.</p>

      <p>Effectivement, 2Start est né suite à de nombreuses discussions. C'est alors que, lors d'une soirée de Novembre, l'idée de ce site a germé dans nos têtes.</p>

      <p>
        Parmis toutes les idées loufoques auxquelles nous avions déjà pensé, celle-ci s'est imposé comme étant la plus en accord avec nos valeurs, perspectives et convictions.
      </p>

      <p>L'aventure a donc commencé pour nous!</p>

    </div>
  </div>

  <div class="img_wrapper">
    <div class="row">
      <div class="col-12" style="margin-bottom: 30px;">
        <h2>Comment ça fonctionne?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h1>Icone</h1>
        <p>Inscris-toi pour la conférence de ton choix et viens à l'heure annoncée par le conférencier</p>
      </div>
      <div class="col-4">
        <h1>Icone</h1>
        <p>Installe-toi confortablement et regarde la conférence lorsqu'elle a démarré.</p>
      </div>
      <div class="col-4">
        <h1>2Start</h1>
        <p>Pose la ou les questions que tu souhaites au conférencier qui y répondra dans la mesure du possible.</p>
      </div>


    </div>
  </div>


</div>



