.form-padding {
  padding-top: 162px;
}

.form-background {
  z-index: -1;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100vw;
  height:100vh;
  background-image:url("../../assets/laughing-friends-on-couch.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
